* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #444;
}

header {
    background-color: #4b0082;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 2.6em;
}

header p {
    font-size: 1.3em;
}

main {
    width: 85%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #9932cc;
    font-size: 2.2em;
    margin-bottom: 15px;
    border-bottom: 2px solid #9932cc;
    padding-bottom: 5px;
}

article h3 {
    color: #4b0082;
    font-size: 1.8em;
    margin-bottom: 10px;
}

article p, article ul {
    font-size: 1.1em;
    margin-bottom: 15px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #4b0082;
    color: #fff;
    margin-top: 40px;
}

footer p {
    font-size: 0.95em;
}
